/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 480px) {
    .container>*
    {
        padding-right: 14px;
        padding-left: 14px;
    }
    .brand_area
    {
        padding: 15px 0;
    }
    .navbar-toggler:focus
    {
        box-shadow: none !important;
    }
    .brand_logo img
    {
        width: 32px;
        height: 32px;
    }
    .brand_logo
    {
        font-size: 20px;
        line-height: 26px;
    }
    .navbar_nav 
    {
        gap: 10px;
        display: flex;
    }
    #navbarNav 
    {
        position: absolute;
        top: 60px;
        left: 25px;
    }
    /* nav_ end */


    /* cover_section */
    .cover_section 
    {
        padding-top: 50px;
    }

    .cover_heading_text h1 
    {
        font-size: 26px;
        line-height: 33px;
    }
    .cover_heading_text p 
    {
        font-size: 14px;
        line-height: 25px;
        padding: 20px 0 0;
    }
    .cover_img 
    {
        padding-top: 30px;
    }
    .article_description p, .bedroom_description p 
    {
        font-size: 14px;
        line-height: 25px;
    }
    .article_description 
    {
        padding-top: 30px;
    }
    .spacer {
        padding-top: 20px;
    }
    .article_img 
    {
        padding-top: 20px;
    }
    .bedroom_section 
    {
        padding-top: 30px;
    }
    .bedroom_description_header 
    {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 4px;
    }
    .padding_top
    {
        padding-top: 20px;
    }
    .bedroom_article_img 
    {
        padding: 30px 14px;
    }
    /* cover_section */

    /* similar_section */
    .similar_topic 
    {
        padding-top: 100px;
    }
    .similar_topics_heading_text h4 
    {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 8px;
    }
    .similar_topics_heading_text h1 
    {
        font-size: 22px;
        line-height: 29px;
    }
    .similar_topics_heading_text 
    {
        padding-bottom: 10px;
    }
    
    .product_img 
    {
        height: 180px;
        padding-bottom: 10px;
    }
    .product_description p 
    {
        font-size: 12px;
        line-height: 21px;
        padding-top: 5px;
    }
    .product_description h3 
    {
        font-size: 14px;
        line-height: 18px;
    }
    .article_owner_text h6 
    {
        font-size: 12px;
        line-height: 21px;
    }
    .article_owner_text p 
    {
        font-size: 12px;
        line-height: 21px;
    }
    .each_product 
    {
        padding-top: 20px;
    }
    /* similar_section */


    /* discount_area */
    .discount_area 
    {
        display: flex;
        flex-direction: column;
        padding: 100px 14px 50px;
    }
    .discount_header h3
    {
        font-size: 24px;
        line-height: 31px;
    }
    .discount_area_button
    {
        justify-content: start !important;
        padding-top: 20px;
    }
    /* discount_area */

    /* footer */
    .footer_area 
    {
        padding-top: 50px;
    }
    .footer_wrapper
    {
        display: flex;
        flex-direction: column;
    }
    .single_article_wrapper 
    {
        margin-bottom: 20px;
    }
    .footer_all_items_wrapper 
    {
        column-gap: 30px;
        padding-top: 30px;
        justify-content: space-between !important;
    }
    
    .footer_paragraph p {
        font-size: 14px;
        line-height: 25px;
    }
    .footer_all_items_wrapper h3
    {
        font-size: 16px;
        line-height: 20spx;
    }
    .footer_product_list {
        padding-top: 15px;
        gap: 5px;
    }
    .footer_product_list a
    {
        font-size: 14px;
        line-height: 25px;
    }
    .footer_area {
        padding-top: 20px;
    }
    .footer_area
    {
        padding-bottom: 25px;
    }
}